[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
[submodule "lib/googlemock"]
	path = lib/googlemock
	url = https://github.com/google/googlemock.git
[submodule "lib/boosttest"]
	path = lib/boosttest
	url = https://github.com/boostorg/test.git
[submodule "lib/boostturtle"]
	path = lib/boostturtle
	url = https://github.com/czerniecki-wojciech/turtle.git
[submodule "utils/gtest_runner"]
	path = utils/gtest_runner
	url = https://github.com/ospector/gtest-gbar.git
[submodule "utils/boost_runner"]
	path = utils/boost_runner
	url = https://github.com/djeedjay/BoostTestUi.git
